.sign__enter-button {
    width: 358px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 216px auto 0px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}

.sign__enter-button:hover {
    opacity: 0.85;
}