.popup__close-button {
    position: absolute;
    background: transparent;
    border: 0;
    color: #FFFFFF;
    right: -40px;
    top: -63px;
    font-size: 4.1rem;
    cursor: pointer;
}

.popup__close-button:focus {
    outline: none;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        right: 0;
        top: -70px;
        font-size: 3rem;
    }
}