.footer__copyright {
    max-width: 318px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0px 0px 60px;

}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 36px;
    }
}