.profile__button-edit {
    background: url(../../../images/Edit_Button.svg);
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 15px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin: auto;
        margin-left: 10px;
        background-size: cover;
    }
}